Repository ensdomains/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @arachnid

.github/CODEOWNERS:

docs/ @lucemans
.github/ @lucemans
app/ @lucemans @svemat01

docs/ensip/ @arachnid
docs/ensip/index @lucemans

Update Immunefi URL
  docs/bugs.mdx
Owners: @lucemans

Add `<Helper />`
  app/src/components/Helper.tsx
Owners: @lucemans, @svemat01

Update subgraph links, add helper message
  docs/web/enumerate.mdx
  docs/web/subgraph.mdx
Owners: @lucemans

Add note about forward lookups
  docs/web/resolution.mdx
Owners: @lucemans

Import remaining ENS names (#242)
  docs/dao/proposals/3.7.mdx
  docs/dao/proposals/4.10.mdx
  docs/dao/proposals/4.4.mdx
  docs/dao/proposals/4.9.mdx
  docs/dao/proposals/5.4.1.mdx
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans

fix typos
  docs/ensip/13.mdx
Owners: @arachnid

fix typos
  docs/faq.mdx
Owners: @lucemans

Updates across the documentation for web3.py examples
  app/local/config/languages.ts
  app/src/components/Libraries.tsx
  docs/dao/proposals/3.7.mdx
  docs/resolution/index.mdx
  docs/web/avatars.mdx
  docs/web/records.mdx
  docs/web/resolution.mdx
  docs/web/reverse.mdx
Owners: @lucemans, @svemat01

Patch
  app/local/content/extras/videos/VideoGallery.tsx
Owners: @lucemans, @svemat01

Update Video URL for ETHGlobal London (#246)
  app/local/content/extras/videos/VideoGallery.tsx
Owners: @lucemans, @svemat01

Update to a rolling release master CI
  .github/workflows/deploy.yml
Owners: @lucemans

Update to a rolling release master CI (#247)
  .github/workflows/deploy.yml
Owners: @lucemans

fix typos
  docs/faq.mdx
Owners: @lucemans

Update Multichain Code Snippet & Sandbox
  docs/web/resolution.mdx
Owners: @lucemans

Linting Patch
  app/local/content/demos/namelookup/NameLookup.tsx
Owners: @lucemans, @svemat01

Update Name lookup demo
  app/local/content/demos/namelookup/NameLookup.tsx
  docs/web/quickstart.mdx
  docs/web/resolution.mdx
Owners: @lucemans, @svemat01

Create tencent.yml
  .github/workflows/tencent.yml
Owners: @lucemans

Introduce ENSv2 & more
  docs/changelog.mdx
  docs/learn/ccip-read.mdx
  docs/web/multichain.mdx
  docs/web/resolution.mdx
Owners: @lucemans

Update Authors
  app/src/lib/mdxPageProps.ts
  docs/bugs.mdx
  docs/dao/foundation.mdx
  docs/dao/governance/moderator.mdx
  docs/dao/governance/process.mdx
  docs/dao/index.mdx
  docs/dao/proposals/submit.mdx
  docs/dao/proposals/voting.mdx
  docs/dao/wg/rules.mdx
  docs/dns/tlds.mdx
  docs/ensip/index.mdx
  docs/faq.mdx
  docs/index.mdx
  docs/learn/deployments.mdx
  docs/learn/dns.mdx
  docs/learn/protocol.mdx
  docs/learn/resolution.mdx
  docs/registry/dns.mdx
  docs/registry/eth.mdx
  docs/resolution/names.mdx
  docs/resolvers/ccip-read.mdx
  docs/terminology.mdx
  docs/web/avatars.mdx
  docs/web/enumerate.mdx
  docs/web/libraries.mdx
  docs/web/multichain.mdx
  docs/web/quickstart.mdx
  docs/web/records.mdx
  docs/web/resolution.mdx
  docs/web/reverse.mdx
  docs/web/siwe.mdx
  docs/web/subdomains.mdx
  docs/web/subgraph.mdx
Owners: @lucemans, @svemat01, @arachnid

Update Code Examples (#236)
  app/src/lib/mdxPageProps.ts
  docs/bugs.mdx
  docs/changelog.mdx
  docs/dao/foundation.mdx
  docs/dao/governance/moderator.mdx
  docs/dao/governance/process.mdx
  docs/dao/index.mdx
  docs/dao/proposals/submit.mdx
  docs/dao/proposals/voting.mdx
  docs/dao/wg/rules.mdx
  docs/dns/tlds.mdx
  docs/ensip/index.mdx
  docs/faq.mdx
  docs/index.mdx
  docs/learn/ccip-read.mdx
  docs/learn/deployments.mdx
  docs/learn/dns.mdx
  docs/learn/protocol.mdx
  docs/learn/resolution.mdx
  docs/registry/dns.mdx
  docs/registry/eth.mdx
  docs/resolution/names.mdx
  docs/resolvers/ccip-read.mdx
  docs/terminology.mdx
  docs/web/avatars.mdx
  docs/web/enumerate.mdx
  docs/web/libraries.mdx
  docs/web/multichain.mdx
  docs/web/quickstart.mdx
  docs/web/records.mdx
  docs/web/resolution.mdx
  docs/web/reverse.mdx
  docs/web/siwe.mdx
  docs/web/subdomains.mdx
  docs/web/subgraph.mdx
Owners: @lucemans, @svemat01, @arachnid

Patch Spelling (#248)
  docs/faq.mdx
Owners: @lucemans

Clarify when to use ENSIP-11 (#240)
  docs/web/resolution.mdx
Owners: @lucemans

Update 11.mdx (#234)
  docs/ensip/11.mdx
  docs/ensip/12.mdx
Owners: @arachnid

Introduce Draft DWeb Post
  app/local/config/navigation/protocol.ts
  docs/dweb/intro.mdx
  docs/resolvers/interfaces.mdx
Owners: @lucemans, @svemat01

z
  docs/dweb/intro.mdx
Owners: @lucemans

Bump
  docs/dweb/intro.mdx
Owners: @lucemans

Bump Content
  docs/dweb/intro.mdx
Owners: @lucemans

Update Header Ids
  docs/dweb/intro.mdx
Owners: @lucemans

Bump
  app/app/theme.tsx
  docs/dweb/intro.mdx
Owners: @lucemans, @svemat01

Introduce Draft DWeb Post (#182)
  app/app/theme.tsx
  app/local/config/navigation/protocol.ts
  docs/dweb/intro.mdx
  docs/resolvers/interfaces.mdx
Owners: @lucemans, @svemat01

Update README.md
  README.md
  docs/dweb/intro.mdx
Owners: @lucemans

Update Chains
  app/app/theme.tsx
Owners: @lucemans, @svemat01

Update ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Remove unused <Helper />, add TheGraph signup link
  app/src/components/Helper.tsx
  app/src/components/mdx/Note.tsx
  docs/web/subgraph.mdx
Owners: @lucemans, @svemat01

fix mdx formatting conflict
  docs/web/subgraph.mdx
Owners: @lucemans

Add glossary of terms, fix resolution process with mainnet resolution
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Change forward resolution to use ENSIP-10
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Change resolve to a function
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Add legacy addr() into resolution process
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Change decimal cointypes to hex
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none
