Repository ensdomains/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @arachnid

add to nav
  app/local/config/navigation/protocol.ts
Owners: @lucemans, @svemat01

ENSIP-18: Profile Text Records (#154)
  app/local/config/navigation/protocol.ts
  docs/ensip/18.mdx
  docs/ensip/index.mdx
Owners: @lucemans, @svemat01, @arachnid

Update ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update Steward Avatars
  docs/dao/stewards.mdx
Owners: @lucemans

Create 5.4.1.mdx
  docs/dao/proposals/5.4.1.mdx
Owners: @lucemans

Create 5.4.2.mdx
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans

Introduce rich content search
  app/app/layout.tsx
  app/src/layout/header/search/ResponsiveSearch.tsx
  app/src/layout/header/search/Search.tsx
  app/src/layout/header/search/SearchModal.tsx
Owners: @lucemans, @svemat01

Patches for rich data
  app/local/content/prose/breadcrumbs/Breadcrumbs.tsx
  app/src/layout/PageLayout.tsx
Owners: @lucemans, @svemat01

Add <Suspense>
  app/src/layout/header/Header.tsx
Owners: @lucemans, @svemat01

Improve search styling
  app/src/layout/header/search/SearchModal.tsx
  app/src/layout/header/search/SearchResults.tsx
Owners: @lucemans, @svemat01

Move constants outside component
  app/app/layout.tsx
Owners: @lucemans, @svemat01

PR Ready
  docs/eip/5559.md
Owners: @lucemans

Edit on github assumed main when we are using master
  app/src/layout/footer/contribute/ContributeLink.tsx
Owners: @lucemans, @svemat01

Use CF Pages ENV
  app/src/layout/footer/contribute/ContributeLink.tsx
Owners: @lucemans, @svemat01

Remove cloudflare env as not working
  app/src/layout/footer/contribute/ContributeLink.tsx
Owners: @lucemans, @svemat01

Improve Rich Data LDJson (#221)
  app/local/content/prose/breadcrumbs/Breadcrumbs.tsx
  app/src/layout/PageLayout.tsx
Owners: @lucemans, @svemat01

Introduce rich content search using JSONLD (#220)
  app/app/layout.tsx
  app/src/layout/header/Header.tsx
  app/src/layout/header/search/ResponsiveSearch.tsx
  app/src/layout/header/search/Search.tsx
  app/src/layout/header/search/SearchModal.tsx
Owners: @lucemans, @svemat01

Resolve some comments
  docs/eip/5559.md
Owners: @lucemans

Wrapping up & opening PR to ethereum/ERCs
  docs/eip/5559.md
Owners: @lucemans

Fix link to discussion
  docs/eip/5559.md
Owners: @lucemans

ERC-5559: Update metadata with author names
  docs/eip/5559.md
Owners: @lucemans

Clarify EVM coin types/encoding, add description
  docs/web/resolution.mdx
Owners: @lucemans

Try to match formatting
  docs/web/resolution.mdx
Owners: @lucemans

Fix build error (I think)
  docs/web/resolution.mdx
Owners: @lucemans

Add note about using the subgraph via ENSjs
  docs/web/enumerate.mdx
Owners: @lucemans

Introduce EP 5.4.1
  docs/dao/proposals/5.4.1.mdx
Owners: @lucemans

Introduce EP 5.4.2
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans

Clarify EVM coin types/encoding, add page description (#226)
  docs/web/resolution.mdx
Owners: @lucemans

Add note about using the subgraph via ENSjs (#228)
  docs/web/enumerate.mdx
Owners: @lucemans

Improve subgraph documentation. (#210)
  docs/web/subgraph.mdx
Owners: @lucemans

Fix Edit on Github link. (#225)
  app/src/layout/footer/contribute/ContributeLink.tsx
Owners: @lucemans, @svemat01

Introduce EP 5.4.1 (#229)
  docs/dao/proposals/5.4.1.mdx
Owners: @lucemans

Introduce EP 5.4.2 (#230)
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans

EP 5.4.1 Add Link & Update Spacing
  app/local/config/navigation/protocol.ts
  docs/dao/proposals/5.4.1.mdx
Owners: @lucemans, @svemat01

Patch
  app/local/config/navigation/protocol.ts
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans, @svemat01

EP 5.4.1 & 5.4.2 Add Link & Update Spacing (#231)
  app/local/config/navigation/protocol.ts
  docs/dao/proposals/5.4.1.mdx
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans, @svemat01

Add ETHGlobal London 2024 Recording
  app/local/content/extras/videos/VideoGallery.tsx
Owners: @lucemans, @svemat01

Add ETHGlobal London 2024 Recording (#232)
  app/local/content/extras/videos/VideoGallery.tsx
Owners: @lucemans, @svemat01

.github/CODEOWNERS:

docs/ @lucemans
.github/ @lucemans
app/ @lucemans @svemat01

docs/ensip/ @arachnid
docs/ensip/index @lucemans
