Repository ensdomains/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lucemans, @svemat01, @arachnid

.github/CODEOWNERS:

docs/ @lucemans
.github/ @lucemans
app/ @lucemans @svemat01

docs/ensip/ @arachnid
docs/ensip/index @lucemans

Create ensip-17-gasless-dns-resolution.md
  ens-improvement-proposals/ensip-17-gasless-dns-resolution.md
Owners: none

Update ens-improvement-proposals/ensip-17-gasless-dns-resolution.md
  ens-improvement-proposals/ensip-17-gasless-dns-resolution.md
Owners: none

Introduce ENSIP-17
  app/local/config/navigation/protocol.ts
  docs/ensip/17.mdx
Owners: @lucemans, @svemat01, @arachnid

Bump
  docs/ensip/index.mdx
Owners: @arachnid

Bump
  docs/ensip/17.mdx
Owners: @arachnid

Wrote backwards compatibility and security consideration sections for ENSIP 17
  docs/ensip/17.mdx
Owners: @arachnid

ENSIP-17: Gasless DNS Resolution (#170)
  app/local/config/navigation/protocol.ts
  docs/ensip/17.mdx
  docs/ensip/index.mdx
Owners: @lucemans, @svemat01, @arachnid

Update app/mdx/rehype.mjs
  app/mdx/rehype.mjs
Owners: @lucemans, @svemat01

Upgrade shiki and optimize shiki rehype plugin
  app/app/globals.css
  app/mdx/rehype.mjs
  app/package.json
  app/pnpm-lock.yaml
Owners: @lucemans, @svemat01

Upgrade shiki and optimize shiki rehype plugin (#223)
  app/app/globals.css
  app/mdx/rehype.mjs
  app/package.json
  app/pnpm-lock.yaml
Owners: @lucemans, @svemat01

additions from feedback
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update 11.mdx
  docs/ensip/11.mdx
Owners: @arachnid

Create more detail for the new L2 reverse resolution process
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update Bracket Escaping
  docs/ensip/12.mdx
Owners: @arachnid

Introduce style guide
  docs/style/index.mdx
Owners: @lucemans

Update ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Adjust vocabulary to be EVM rather than L2
  ens-improvement-proposals/ensip-17-evmchain-reverse-resolution.md
Owners: none

Update process.mdx
  docs/dao/governance/process.mdx
Owners: @lucemans

Introduce changelog page
  app/local/config/navigation/protocol.ts
  docs/index.mdx
Owners: @lucemans, @svemat01

Bump
  docs/index.mdx
Owners: @lucemans

Update process.mdx
  docs/dao/governance/process.mdx
Owners: @lucemans

Clarify when to use ENSIP-11
  docs/web/resolution.mdx
Owners: @lucemans

Update process.mdx
  docs/dao/governance/process.mdx
Owners: @lucemans

Update process.mdx (#238)
  docs/dao/governance/process.mdx
Owners: @lucemans

remove extra character
  docs/dns/tlds.mdx
Owners: @lucemans

add 0xPenryn as contributor
  docs/dns/tlds.mdx
Owners: @lucemans

Fix typo in TLD List page (#241)
  docs/dns/tlds.mdx
Owners: @lucemans

Introduce ENS contributor support
  app/app/[...slug]/page.tsx
  app/app/opengraph/[...slug]/route.tsx
  app/src/components/contribute/ContributorsSection.tsx
  app/src/utils/contributorHelper.ts
Owners: @lucemans, @svemat01

Add regex to zod
  app/src/lib/mdxPageProps.ts
Owners: @lucemans, @svemat01

Update ref
  app/src/utils/contributorHelper.ts
Owners: @lucemans, @svemat01

Centralize JPG
  app/app/opengraph/[...slug]/route.tsx
  app/src/components/contribute/ContributorsSection.tsx
  app/src/utils/contributorHelper.ts
Owners: @lucemans, @svemat01

Export regexes
  app/src/lib/mdxPageProps.ts
  app/src/utils/contributorHelper.ts
Owners: @lucemans, @svemat01

Upgrade contributor name support (#233)
  app/app/[...slug]/page.tsx
  app/app/opengraph/[...slug]/route.tsx
  app/src/components/contribute/ContributorsSection.tsx
  app/src/lib/mdxPageProps.ts
  app/src/utils/contributorHelper.ts
Owners: @lucemans, @svemat01

Import remaining ENS names
  docs/dao/proposals/3.7.mdx
  docs/dao/proposals/4.10.mdx
  docs/dao/proposals/4.4.mdx
  docs/dao/proposals/4.9.mdx
  docs/dao/proposals/5.4.1.mdx
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans

Re-Introduce Changelog Page (#239)
  app/local/config/navigation/protocol.ts
  docs/index.mdx
Owners: @lucemans, @svemat01

Update docs/dao/proposals/4.9.mdx
  docs/dao/proposals/4.9.mdx
Owners: @lucemans

Update docs/dao/proposals/4.4.mdx
  docs/dao/proposals/4.4.mdx
Owners: @lucemans

Update docs/dao/proposals/4.10.mdx
  docs/dao/proposals/4.10.mdx
Owners: @lucemans

Update docs/dao/proposals/3.7.mdx
  docs/dao/proposals/3.7.mdx
Owners: @lucemans

Update docs/dao/proposals/5.4.2.mdx
  docs/dao/proposals/5.4.2.mdx
Owners: @lucemans
